@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

#name {
  -webkit-text-stroke: 1px white;
}

#name::before {
  -webkit-text-stroke: 0px white;
  animation: name 5s linear infinite;
  border-right: 1px solid white;
}

@keyframes name {
  0%,
  10%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 100%;
  }
}
